.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Bb]in/[Dd]ebug/
[Bb]in/[Rr]elease/
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.cache

ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

.DS_Store
Thumbs.db

OBJ/